a > img[class="pion"] {
  width: 300px;
  height: 400px;
}
a > img[class="poziom"] {
  width: 400px;
  height: 300px;
}
img {
  margin: 30px 60px;
  border: 1px double rgba(0, 0, 0, 0.8);
  transition: transform .5s cubic-bezier(0,1.37,1,-0.82);
  text-align: center;
}
img:hover{
  transform: scale(2);
}
header {
  text-align: center;
  font-family: "Wide Latin";
  color: orange;
  font-size: 3em;
}
body {
  overflow: hidden;
}
